<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
</head>
<body style="height: 100%; margin: 0">
<h1>
    <center>{{ date }}  {{ code }}分时价格</center>
</h1>
<div id="main" style="width: 900px;height:600px;"></div>
<script type="text/javascript">
    var data = [];
    var type = [];
    var myChart = echarts.init(document.getElementById('main'));
    function setOption(data, type,price0) {
        console.log(price0)
    option = {
        xAxis: {
            type: 'category',
            boundaryGap: true,
            data: type
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: function (value) {
                    return value + 22.17;
                }
            },
        },
        series: [
            {
                name: '价格',
                type: 'line',
                smooth: true,
                showSymbol: false,
                symbol: false,
                data: data,
            }
        ]
    };
    myChart.setOption(option);
    }
    //获取...排行数据
    function getData(values, labels,price0) {

        console.log(values);
        for (var i = 0; i < values.length; i++) {
            var oneData = values[i];
            data.push(oneData-price0);
            type.push(labels[i])
        }

        setOption(data, type,price0);//执行setOption函数。传参

    }

    getData({{list_price}},{{list_time|tojson}},{{start_price}});

</script>
</body>
</html>