<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
     <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
             $(document).ready(function() {
        var socket = io.connect();


    socket.on('e1_response', function(msg) {
    console.log(msg);
    $('#log').html('<br>' + $('<div/>').text(msg.str).html());
    });

    setInterval(function clock(){
        socket.emit('e1_event', {data:'0'});
        },20000);
    });

    </script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:400px;"></div>
<div id='log'>{{j.str}}</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var data = [];
    var type = [];
    var myChart = echarts.init(document.getElementById('main'));
    function setOption(data, type) {
        option = {
            title: {
                text: '实时统计',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['个数']
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: type
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '个数',
                    type: 'bar',
                    data: data,
                    label:{
normal:{
show: true,
position: 'top'}
}
                }
            ]

        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    //获取...排行数据
    function getData() {
        $.ajax({
            url: '/e1e',
            type: 'post',
            dataType: 'JSON',
            success: function (objdata) {
                for (var i = 0; i < objdata.values.length; i++) {
                    var oneData = objdata.values[i];
                    data.push(oneData);
                    type.push(objdata.labels[i])
                }
                console.log(data)
                setOption(data, type);//执行setOption函数。传参
            }
        });
    }

    //获取...排行数据
    function getData2(json) {
    console.log("getdata"+json);
        myChart.showLoading();
        values=json.values
        labels=json.labels
        for (var i = 0; i < values.length; i++) {
            var oneData = values[i];
            data.push(oneData);
            type.push(labels[i])
        }
        myChart.hideLoading();
        setOption(data, type);//执行setOption函数。传参

    }

    getData2({{j|tojson}});
</script>

</body>
</html>